/* *{
  border: 1px solid red;
} */
  .bg-black{
    background: black;
  }
  .nav-item{
    padding-left: 60px;
  }
  .navbar-brand{
    padding-left: 100px;
  }
  a.title{
    font-size: 30px;
  }
  .times{
    font-family: 'Times New Roman', Times, serif;
  }
  .border{
    border: 1px;
  }
  .bg-gray{
    background: rgb(239, 235, 235);
  }
  .icons{
    color: orange;
  }
  .social-links{
    text-decoration: none;
  }
  .img-text-container {
    position: relative;
  }
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 30px;
  }
  .features{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
  }
